services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 10

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner  # (Opsional) Explicitly bilang ini pake stage 'runner'
    container_name: nextjs_app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      postgres_db:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - prisma-network

  prisma-studio:
    # GANTI BAGIAN INI:
    build:
      context: .
      dockerfile: Dockerfile
      target: studio  # <-- INI KUNCINYA. Dia bakal build pake stage 'studio' yg kita buat tadi
    container_name: prisma_studio_app
    restart: always
    ports:
      - "5555:5555"
    env_file:
      - .env
    networks:
      - prisma-network
    depends_on:
      postgres_db:
        condition: service_healthy

networks:
  prisma-network:
    driver: bridge

volumes:
  postgres_data:
