services:
  # ----------------------------------------------------
  # 1. Database PostgreSQL Service
  # ----------------------------------------------------
  db:
    image: postgres:15-alpine
    restart: always
    # PENTING: Langsung baca file .env, gak usah pake variable substitution ribet
    env_file:
      - .env
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      # Disini kita hardcode nama user & db sesuai .env kamu biar gak error parsing
      test: ["CMD-SHELL", "pg_isready -U bookloan_user -d bookloan_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ----------------------------------------------------
  # 2. Next.js Application Service
  # ----------------------------------------------------
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    # PENTING: App juga baca langsung dari .env
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: