services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      # Hardcode user/db di sini biar healthcheck gak bingung baca variabel host
      test: ["CMD-SHELL", "pg_isready -U bookloan_user -d bookloan_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: